/* @override http://opt-6.com/css/tumblr.css */

.tumblr_posts {
	width:300px;
	padding:0;
	margin:auto;
	list-style-type: none;
	margin-top: -8px;
	
	}
	
.tumblr_title {
	font-weight: bold;
	font-size:10pt;
	padding: 10px;
	
	}
	
.tumblr_body {
	width:300px;
	padding:0;
	margin:auto;
	
	}
	
.tumblr_body p img{
	padding:5px;
	float:right;
	
	}
	
.tumblr_body p a{
	font-weight: bold;
	
	}
	
.tumblr_body ol{
	margin-left:30px;
	margin-top:10px;
	margin-bottom:10px;
	
	}
	
.tumblr_body ul{
	padding-left:30px;
	padding-top:10px;
	padding-bottom:10px;
	
	}